.main_login{
    display: flex;
    height: 100vh;
    background-color: #B51D44;
    ;
}

.logo_Banner{
    flex: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_Banner img{
    width: 340px;
    height: 245px;
}

.section_login{
    display: flex;
    flex: 1;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_login img{
    width: 300px;
    margin-top: -90px;
}

.form_login{
    width: 100;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.campos_login{
    width: 100%;
}

.campo_input{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

}

.campo_input input{
    height: 28px;
    width: 400px;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    
}

.form_login a {
    text-decoration: none;
    color: #a6a0a0;
}

@media screen and (max-width: 768px){

    /* 0pc ate 768 */
    .banner{
        display: none;
    }

}