footer{
    display: flex;
    justify-content: center;
    height: 35px;
    margin-top: 10px;
}

footer p{
    text-align: center;
}   

@media screen and (max-width: 768px){

    footer{
        
    }
    
}