header{
    background-color: white;
    height: 75px;
    box-shadow: 1px 4px 4px 0px #0000008f;
    position: relative;
}

.header_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header_header img{
    height: 25px;
}

.link_header{
    margin-left: 45px;

    color: black;

    text-decoration: none;
}

.Logo_adm img{
    width: 15px;
    height: 13px;
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    .header_header img{
        height: 15px;
    }
    .header_header{
        justify-content: center;
        align-items: center;
    }
    .link_header{
        display: none;
    }
    .navas_header{
        display: none;
    }
}